[Unit]
Description=Manage ceph node lifecycle
Wants=network-online.target
After=network-online.target
After=pxe-post-install.service
Requires=pxe-post-install.service

[Service]
Type=oneshot
Environment=HOME=/var/roothome
ExecStart=/usr/local/bin/manage-ceph-deploy.sh
Restart=on-failure
RemainAfterExit=true
ProtectHome=no

[Install]
WantedBy=multi-user.target