[Unit]
Description=Manage kubernetes node lifecycle
After=kubelet.service
Wants=network-online.target
After=network-online.target
After=pxe-post-install.service
Requires=pxe-post-install.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/manage-node-lifecycle.zsh
Restart=on-failure
RemainAfterExit=true

[Install]
WantedBy=multi-user.target