[Unit]
Description=Manage hosts pxe configuration
After=local-fs.target
After=network-online.target
OnSuccess=pxe-configuration-restart-ipxe-server.service

[Container]
Environment=PXE_CONF_GIT=ssh://gitea@git.spdnova.xyz:30003/Sok3t/skh-infra.git
Environment=INFRASTRUCTURE_CONFIG_FILENAME=skh-infra-definition.yaml
Environment=RUNNING_HOST=%H
Image=quay.io/simbelmas/ipxe:stable
Entrypoint=/scripts/pxe-configuration-update-manager.zsh
Volume=/var/srv/containers/pxe:/var/www/html
Volume=/var/srv/containers/pxe-utils:/scripts
Volume=/var/srv/containers/gitea_ssh:/root/.ssh
Pull=newer

[Service]
Restart=on-failure
RestartSec=10s