[Unit]
Description=Manage hosts pxe configuration
After=local-fs.target
After=network-online.target
OnSuccess=pxe-configuration-update-manager.service

[Container]
Environment=TFTP_SERVER_ADDRESS=http://%H
Environment=RUNNING_HOST=%H
Environment=ASSETS_DIR=/var/www/html/images/fedora-bootc
Image=quay.io/simbelmas/ipxe:stable
Pull=newer
Entrypoint=/scripts/get_pxe_fedora_bootc.zsh
Volume=/var/srv/containers/pxe:/var/www/html
Volume=/var/srv/containers/pxe-utils:/scripts

[Service]
Restart=on-failure
RestartSec=10s