[Unit]
Description=Manage hosts pxe configuration
After=local-fs.target
After=network-online.target
OnSuccess=pxe-configuration-manage-assets.service

[Container]
Environment=TFTP_SERVER_ADDRESS=http://%H
Environment=RUNNING_HOST=%H
Image=quay.io/simbelmas/ipxe:stable
Pull=newer
Exec=manage_assets
Volume=/var/srv/containers/pxe:/var/www/html
User=root
RemapUsers=keep-id

[Service]
Restart=on-failure
RestartSec=10s