[Unit]
Description=SeaweedFS S3-compatible object storage
After=network-online.target var-srv-backup.mount
Wants=network-online.target
Requires=var-srv-backup.mount

[Container]
Image=docker.io/chrislusf/seaweedfs:latest
ContainerName=seaweedfs

Exec=server \
  -master.port=9333 \
  -volume.port=8080 \
  -filer \
  -filer.port=8888 \
  -s3 \
  -s3.port=8333 \
  -s3.config=/etc/seaweedfs/s3.json \
  -dir=/data/volume \
  -master.dir=/data/master

Volume=/var/srv/backup/seaweedfs:/data:Z
Volume=/var/srv/backup/seaweedfs/seaweedfs_s3.json:/etc/seaweedfs/s3.json:ro

PublishPort=8333:8333
#PublishPort=9333:9333

AutoUpdate=registry
User=1003
Group=1003

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
