[Unit]
Before=local-fs.target
Requires=systemd-fsck@dev-mapper-data\x2dbackup.service
After=systemd-fsck@dev-mapper-data\x2dbackup.service
After=blockdev@dev-mapper-data\x2dbackup.target
After=var.mount

[Mount]
What=/dev/mapper/data-backup
Where=/var/srv/backup
Type=ext4
Options=noauto,defaults
TimeoutSec=20s