[server]
pid-file=/var/run/mysqld/mysql.pid
log_output=NONE

[mysqld]
#to allow mounting to an external dir on kube
datadir=/var/lib/mysql/data

[client-server]
socket=/var/run/mysqld/mysql.sock
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/